# ========== GLOBAL ==========
.DS_Store
Thumbs.db
*.log
*.bak
*.sql
*.pem
*.env*
*.dbmdl
secrets.json

# IDEs
.vscode/
.idea/

# ========== CLIENT (Next.js) ==========
client/node_modules/
client/.next/
client/.pnp/
client/.pnp.*
client/.env*
client/.vercel
client/coverage/
client/.turbo/
client/out/
client/build/
client/*.tsbuildinfo
client/next-env.d.ts
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/.pnpm-debug.log*
client/.yarn/*
!client/.yarn/patches
!client/.yarn/plugins
!client/.yarn/releases
!client/.yarn/versions

# ========== SERVER (.NET WebApi) ==========
server/bin/
server/obj/
server/*.user
server/*.suo
server/*.userosscache
server/*.sln.docstates
server/ScaffoldingReadMe.txt
server/*.publish/
server/*.nupkg
server/*.snupkg
server/packages/
server/.nuget/
server/artifacts/
server/project.lock.json
server/project.fragment.lock.json
server/TestResults/
server/*.trx
server/*.coverage
server/*.coveragexml
server/Migrations/*Designer.cs
server/Migrations/*Snapshot.cs